@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.btn {
		@apply flex gap-2 items-center py-2 px-4 font-semibold shadow-md rounded-lg justify-center;
	}
	.btn.btn-light {
		@apply bg-white text-gray-500;
	}
	.btn.btn-danger {
		@apply text-white bg-red-600 shadow-red-400/40;
	}
}

body {
	background-color: lightsteelblue;
}

#root {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.wrapper {
	flex: 1;
}
